/* Mobile Media Query */

@media only screen and (min-width: 600px) {
  .container {
    max-width: 88%;
  }
  .header-section-container {
    flex-direction: column;
    gap: 2rem;
  }
  .toggler-label {
    display: none;
  }
  .menu {
    display: flex;
    gap: 2rem;
  }
  .menu .menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .menu .menu-list li {
    width: max-content;
  }

  .menu .menu-list li a {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    width: max-content;
  }

  .menu .menu-list li a:hover {
    color: var(--clr-white);
    font-size: 1.125rem;
    background: var(--secondary-color);
  }

  .menu .menu-list li a.active {
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 700;
  }
  .menu .menu-list li a.active:hover {
    background: var(--secondary-color);
    color: var(--clr-white);
    font-size: 1.125rem;
    font-weight: 700;
  }

  .heading-1__banner {
    font-size: 2rem;
  }

  /* Choose our Destination */
  .choose-our-grid-section {
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 180px);
  }
}

/* Tablet Media Query */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 83%;
  }
  .logo img {
    width: 2.5rem;
    height: 2rem;
  }
  .logo .heading-3__small {
    font-size: 1.75rem;
  }
  /* banner form */
  .banner .bander-container {
    padding: 4rem 1.5rem;
  }
  .heading-1__banner {
    font-size: 3rem;
  }

  .text-light__banner {
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .user-form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .user-form .form-item {
    flex: 1 1 25%;
  }

  .primary-btn__userform {
    width: max-content;
    padding: 0.5rem 1rem;
  }

  /* Popular tour section */
  .popular-tour {
    padding: 4rem 0 4rem;
  }
  .popular-tour-container {
    flex-direction: row;
  }
  .popular-tour-content {
    flex: 1 1 50%;
  }
  .popular-tour-content h2 {
    font-size: 2rem;
  }
  .popular-tour-img {
    flex: 1 1 50%;
    height: 100%;
    align-self: flex-start;
  }
  /* Choose Your Destination */
  .choose-our-content {
    width: 75%;
  }

  .choose-our-grid-section {
    padding: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 180px);
  }

  /* Why Choose Us */
  .why-choose-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  .why-choose-card {
    width: 48%;
  }

  /* Newsletter user Form */
  .newsletter-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  .newsletter-form {
    flex: 1 1 45%;
    align-self: flex-start;
  }

  .newsletter-form__userform {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .newsletter-form__userform button {
    width: 100%;
    padding: 1rem 0;
  }
}

/* Laptop / Desktop Media Query */

@media only screen and (min-width: 992px) {
  .header-section-container {
    flex-direction: row;
  }
  .logo .heading-3__small {
    width: max-content;
  }

  .menu {
    display: flex;
    gap: 1rem;
  }
  .menu .menu-list {
    gap: 0rem;
  }

  /* banner form */
  .user-form {
    width: 70%;
    margin: 0 auto;
  }
  /* Choose Your Destination */
  .choose-our-content {
    width: 60%;
  }
  .choose-our-grid-section {
    padding: 3rem 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  .choose-our-bg-1 {
    grid-column: span 6;
  }
  .choose-our-bg-2 {
    grid-column: span 6;
  }
  .choose-our-bg-3 {
    grid-column: span 3;
  }
  .choose-our-bg-4 {
    grid-column: span 6;
  }
  .choose-our-bg-5 {
    grid-column: span 3;
  }
  .choose-our-bg-6 {
    grid-column: span 5;
  }
  .choose-our-bg-7 {
    grid-column: span 7;
  }

  .footer-logo img {
    width: 2rem;
    height: 2rem;
  }

  .footer-logo .heading-3__footer {
    color: var(--primary-color);
    font-size: 2rem;
  }
}

/* Large Media Query */

@media only screen and (min-width: 1200px) {
}
