/* Mobile Media Query */

@media only screen and (min-width: 600px) {
  .container {
    max-width: 88%;
  }
  .header-section-container {
    flex-direction: column;
    gap: 2rem;
  }
  .toggler-label {
    display: none;
  }
  .menu {
    display: flex;
    gap: 2rem;
  }
  .menu .menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .menu .menu-list li {
    width: max-content;
  }

  .menu .menu-list li a {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    width: max-content;
  }

  .menu .menu-list li a:hover {
    color: var(--clr-white);
    font-size: 1.125rem;
    background: var(--secondary-color);
  }

  .menu .menu-list li a.active {
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 700;
  }
  .menu .menu-list li a.active:hover {
    background: var(--secondary-color);
    color: var(--clr-white);
    font-size: 1.125rem;
    font-weight: 700;
  }

  .heading-1__banner {
    font-size: 2rem;
  }
}

/* Tablet Media Query */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 83%;
  }
  .logo img {
    width: 2.5rem;
    height: 2rem;
  }
  .logo .heading-3__small {
    font-size: 1.75rem;
  }
  /* banner form */
  .banner .bander-container {
    padding: 4rem 1.5rem;
  }
  .heading-1__banner {
    font-size: 3rem;
  }

  .text-light__banner {
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .user-form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .user-form .form-item {
    flex: 1 1 25%;
  }

  .primary-btn__userform {
    width: max-content;
    padding: 0.5rem 1rem;
  }

  /* Popular tour section */
  .popular-tour {
    padding: 4rem 0 4rem;
  }
  .popular-tour-container {
    flex-direction: row;
  }
  .popular-tour-content {
    flex: 1 1 50%;
  }
  .popular-tour-img {
    flex: 1 1 50%;
    height: 100%;
    align-self: flex-start;
  }
}

/* Laptop / Desktop Media Query */

@media only screen and (min-width: 992px) {
  .header-section-container {
    flex-direction: row;
  }
  .logo .heading-3__small {
    width: max-content;
  }

  .menu {
    display: flex;
    gap: 1rem;
  }
  .menu .menu-list {
    gap: 0rem;
  }

  /* banner form */
  .user-form {
    width: 70%;
    margin: 0 auto;
  }
}

/* Large Media Query */

@media only screen and (min-width: 1200px) {
}
