/* Import Mulish form Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

/* Import Inter form Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
/* font-family: 'Inter', sans-serif; */

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #131318;
  --secondary-color: #ff5400;
  --clr-gray: #424247;
  --clr-grey-medium: rgba(19, 19, 24, 0.7);
  --clr-grey-light: #5a5a5d;
  --clr-slate-100: #d9dbe1;
  --clr-white: #fff;
  --clr-black: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--clr-white);
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* End of global styles */

/* Reusable Utility classes start */
.container {
  max-width: 83%;
  margin: 0 auto;
}

.heading-1 {
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: 800;
}

.heading-2 {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 800;
}

.heading-3 {
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: 700;
}

.text-dark {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.71rem;
}

.text-medium {
  color: var(--clr-grey-medium);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-light {
  color: var(--clr-grey-light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.primary-input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-slate-100);
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-grey-medium);
}
.primary-input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.primary-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
}
/* Reusable Utility classes end */

/* Header Section Start */
/* Navbar Section Start */

.header-section {
  padding-bottom: 3rem;
}
.header-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}
.logo img {
  width: 2.3rem;
  height: 2rem;
}
.heading-3__brand-name {
  color: var(--secondary-color);
}

#toggler {
  display: none;
}
.menu {
  display: none;
}

.toggler-label i {
  font-size: 2rem;
}

.heading-3__small {
  font-size: 1.75rem;
}

/* banner container */
.bander-container {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5rem 1.5rem;
}
.heading-1__banner {
  color: var(--clr-white);
  text-align: center;
  line-height: 2.5rem;
  padding: 1rem 0;
}
.text-light__banner {
  color: var(--clr-white);
  text-align: center;
  line-height: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.user-form {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff60;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-form select {
  color: rgba(19, 19, 24, 0.5);
  appearance: none;
}
.user-form .select-container {
  position: relative;
}
.user-form .select-container::after {
  content: "\2B9F";
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  color: #5a5a5d;
}

.primary-btn__userform {
  font-size: 0.875rem;
  font-weight: 500;
}

.primary-btn__userform i {
  margin-right: 0.4rem;
}

/* Popular tour Section End */
.popular-tour {
  padding: 0rem 0 2rem;
}

.popular-tour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.popular-tour-content p {
  padding: 1rem 0 0.5rem 0;
  line-height: 1.5rem;
}
.popular-tour-content ul {
  padding-left: 3rem;
}
.popular-tour-content li {
  list-style-type: disc;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.popular-tour-content button {
  margin: 1.5rem 0;
}

.popular-tour-container .popular-tour-img {
  min-height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.popoler-tour-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
/* Popular tour Section End */

/* Choose Your Destination section start */
.choose-our-destination {
  padding: 0 0 2rem;
}
.choose-our-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.choose-our-content h2 {
  padding-bottom: 1rem;
}
.choose-our-bg-1 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle5.png);
}
.choose-our-bg-2 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle8.png);
}
.choose-our-bg-3 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle6.png);
}
.choose-our-bg-4 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle7.png);
}
.choose-our-bg-5 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle9.png);
}
.choose-our-bg-6 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle11.png);
}
.choose-our-bg-7 {
  border-radius: 0.67rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle10.png);
}

.choose-our-grid-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-our-grid-section {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 180px);
  gap: 1rem;
}
/* Choose Your Destination section end */

/* Why Choose Us Section Start */
.why-choose-us {
  padding: 0 0 2rem;
}

.why-choose-card-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.why-choose-card {
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 2rem;
}
.why-choose-card h3 {
  padding: 1rem 0;
}

.why-choose-card-container .card-item-1 {
  background-color: #fffbf7;
}
.why-choose-card-container .card-item-2 {
  background-color: #f4fdff;
}
.why-choose-card-container .card-item-3 {
  background-color: #fef6f6;
}

/* Why Choose Us Section End */

/* Newsletter Section Start */
.newsletter {
  padding: 0 0 2rem;
}
.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.newsletter-form__userform {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ff5400;
}

.newsletter-form__userform input {
  background-color: #f3f3f3;
}

.primary-btn__userform {
  font-weight: 600;
}

.newsletter-content {
  position: relative;
}

.newsletter-discount {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  border-radius: 0.675rem;
  width: 200px;
  margin-left: auto;
  position: absolute;
  bottom: 3.1rem;
  right: 0;
  transform: rotate(-35deg);
}

.newsletter-discount p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.newsletter-discount h4 {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
/* Newsletter Section End */

/* Footer section start */
.footer {
  padding: 2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.footer-logo img {
  width: 1.5rem;
  height: 1rem;
}

.footer-logo h2 {
  color: var(--primary-color);
}
.footer-container p {
  padding: 0 0 1rem 0;
  line-height: 1.5rem;
  font-weight: 400;
}

.social-link a {
  display: inline-block;
  padding: 0.5rem;
}
.social-link a i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

p.copyright {
  padding: 1rem 0;
}
/* Footer section end */
